@import './styles/mixins.scss';

router-outlet + * {
  @include fill-main;
}

app-header {
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.header-min-height {
  min-height: env(titlebar-area-height, 56px);
}