@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  app-root {
    display: flex;
    flex: 0 1 100%;
    justify-content: stretch;
  }
}