@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  app-root {
    display: flex;
    flex: 0 1 100%;
    justify-content: stretch;
  }
}

.btn.btn-circle, .btn.btn-lg {
  ng-icon {
    @apply text-2xl;
  }
  &.btn-xs {
    ng-icon {
      @apply text-sm;
    }
  }
}

.btn.btn-half-circle-left {
  height: 3rem;
  width: 2rem;
  border-radius: 50% 0 0 50%;
}

.no-height {
  height: 0;
  margin-top: 3px;
}

.recognized-text {
  @apply break-words;
  &.textSize-xs {
    @apply text-xs;
    &.live {
      @apply text-base;
    }
  }
  &.textSize-sm {
    @apply text-xs sm:text-sm;
    &.live {
      @apply text-base;
    }
  }
  &.textSize-base {
    @apply text-sm sm:text-base;
    &.live {
      @apply text-lg;
    }
  }
  &.textSize-lg {
    @apply text-lg;
    &.live {
      @apply text-xl;
    }
  }
  &.textSize-xl {
    @apply text-xl;
    &.live {
      @apply text-2xl;
    }
  }
  &.textSize-2xl {
    @apply text-2xl;
    &.live {
      @apply text-3xl;
    }
  }
  &.textSize-3xl {
    @apply text-3xl;
    &.live {
      @apply text-4xl;
    }
  }
  &.textSize-4xl {
    @apply text-4xl;
    &.live {
      @apply text-5xl;
    }
  }
  &.textSize-5xl {
    @apply text-5xl;
    &.live {
      @apply text-6xl;
    }
  }
  &.textSize-6xl {
    @apply text-5xl sm:text-6xl;
    &.live {
      @apply text-6xl sm:text-7xl;
    }
  }
  &.textSize-7xl {
    @apply text-5xl sm:text-7xl;
    &.live {
      @apply text-6xl sm:text-8xl;
    }
  }
  &.textSize-8xl {
    @apply text-5xl sm:text-8xl;
    &.live {
      @apply text-9xl;
    }
  }
  &.textSize-9xl {
    @apply text-5xl sm:text-9xl;
  }
}