:host {
  display: flex;
  flex: 1 1 100%;
}
.form-control:not(:focus-within) {
  border: none;
}
.form-control {
  
}
.textarea:not(:focus),
.input:not(:focus) {
  background-color: transparent;
  &:not(:hover) {
    border: none;
  }
  &:hover {
    font-style: italic;
  }
}